html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  position: relative;
}

.banner-content {
  position: absolute;
  left: 1em;
  top: 1em;
  max-height: 500px;
  max-width: 50em;
}

h2 {
  margin: 0;
}

span {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    color: #fff;
    margin: 0;
}

p {
  font-size: 2rem;
  margin: 0;
}
