html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  text-align: left;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  left: 25px;
  bottom: 30px;
  width: 100%;
  max-width: 50em;
}

h2 {
  margin: 0;
  font-size: 4rem;
}

span {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bolder;
    margin: 0;
}

p {
  font-size: 2rem;
  margin: .75rem;
  font-style: italic;
}
